*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    background-color: beige;
    background-image: url(../done.avif);
}
.container{
    background-color:whitesmoke;
    width: 700px;
    padding: 95px;
    margin: 150px;
    border-top: 3px solid rgb(3, 3, 29);
    border-bottom: 3px solid  rgb(30, 30, 47);
    border-left: 3px solid  rgb(3, 3, 29);
    border-right: 3px solid rgb(3, 3, 29);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.5);
    margin-left: 300px;
    color: green;
}
